@font-face {
    font-family: Canela thin;
    src: url('../../public/font/Canela/Canela-Thin\ [TheFontsMaster.com].otf');
}

@font-face {
    font-family: Untitiled thin;
    src: url('../../public/font/UntitledSans-Light.otf');
}

@font-face {
    font-family: Canela light;
    src: url('../../public/font/Canela/Canela-Light\ [TheFontsMaster.com].otf');
}

body{
    overflow-x: hidden;
}

.home-wrapper{
    margin-top: 100px;
    overflow-x: hidden;
}

.react-3d-carousel{
    width: 80%;
    margin: 5rem auto;
}

.slider-single img{
    width: 100%;
}

.home-wrapper .carousel-container{
    width: 100%;
    height: 30vw;
}

.react-3d-carousel .slider-container .slider-content .slider-single.proactive .slider-single-content {
    opacity: 1!important;
    transform: translateX(50%) scale(0.8)!important;
}

.react-3d-carousel .slider-container .slider-content .slider-single.preactive .slider-single-content {
    opacity: 1!important;
    transform: translateX(-50%) scale(0.8)!important;
}

.react-3d-carousel .slider-container .slider-left {
    position: absolute;
    display: none;
    z-index: 3;
    left: -40%!important;
    margin-right: 5px;
    padding: 20px 15px;
    height: 100%;
    cursor: pointer;
}

.react-3d-carousel .slider-container .slider-left div {
    border: none!important;
    content: url('../assets/arrow.svg');
}

.react-3d-carousel .slider-container .slider-right {
    display: none;
    position: absolute;
    z-index: 3;
    left: 67vw!important;
    /* padding: 20px 15px; */
    height: 101%;
    cursor: pointer;
    /* margin-left: -2px; */
}

.react-3d-carousel .slider-container .slider-right div {
    border: none!important;
    content: url('../assets/arrow-right.svg');
}

.loop{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7rem 0;
}

.loop a{
    width: 12.5%;
    margin: 0;
}

.loop a img{
    width: 100%;
}

.loop a:nth-child(1){
    z-index: 1;
    transition: 0.5s;
}
.loop a:nth-child(2){
    z-index: 2;
    transition: 0.5s;
}
.loop a:nth-child(3){
    z-index: 3;
    transition: 0.5s;
}
.loop a:nth-child(4){
    z-index: 4;
    transition: 0.5s;
}
.loop a:nth-child(5){
    z-index: 5;
    transition: 0.5s;
}
.loop a:nth-child(6){
    z-index: 6;
    transition: 0.5s;
}
.loop a:nth-child(7){
    z-index: 7;
    transition: 0.5s;
}
.loop a:nth-child(8){
    z-index: 8;
    transition: 0.5s;
}

.loop a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.home-wrapper .about-us{
    margin: 3rem auto;
}

.home-wrapper .about-us .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-wrapper .header .hr-line{
    height: 1px;
    width: 40%;
    background-color: black;
}

.home-wrapper .about-us .header .heading{
    font-size: 3rem;
    font-family: Canela thin;
}

.home-wrapper .about-us .content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Untitled light;
    font-size: 1.2rem;
}

.home-wrapper>img{
    position: absolute;
    z-index: -1;
    width: 100%;
}

.home-wrapper .saree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
}

.home-wrapper .saree img{
    transition: 0.5s;
}

.home-wrapper .saree img:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.home-wrapper .btn-container{
    /* margin: 4rem 12.7vw; */
    background-color: #d1d1bd;
    width: max-content;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.home-wrapper .btn-container span{
    padding: 0 2rem;
    font-family: Untitiled thin;
    font-size: 1.25rem;
    font-weight: 600;
}

.home-wrapper .btn-container .btn a{
    color: #BFC7B9;
    text-decoration: none;
}

.home-wrapper .btn{
    border:none;
    outline: none;
    background-color: #fff;
    color: #d1d1bd;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.116);
}

.home-wrapper .saree .content-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:20px;
    width: 40%;
}

.home-wrapper .saree .content-1 img{
    border-radius: 0 20% 0 0;
    width: 95%;
}

.home-wrapper .saree .content-1 .inner-image{
    background-repeat: no-repeat    ;
    background-position: center;
    background-size: 100%;
    border-radius: 0 20% 0 0;
    transition: 0.5s;
}

.home-wrapper .saree .content-1 .inner-image:hover{
    background-size: 105%;
    transition: 0.5s;
}

.home-wrapper .saree .content-1 .content-inner{
    display: flex;
    flex-direction: column;
}

.home-wrapper .saree .content-1 .content-inner>span:nth-child(1){
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Canela light;
    font-weight: 500;
    margin-bottom: 1rem;
}

.home-wrapper .saree .content-1 .content-inner span:nth-child(2),
.home-wrapper .saree .content-1 .content-inner span:nth-child(3),
.home-wrapper .saree .content-1 .content-inner span:nth-child(4),
.home-wrapper .saree .content-1 .content-inner span:nth-child(5){
    font-family: Untitled light;
    font-size: 1rem;
}

.home-wrapper .saree .content-1 .content-inner span:nth-child(5){
    font-size: 1.75rem;
    margin-top: 1rem;
    font-weight: 500;
}

.home-wrapper .saree .content-2 {
    width: 30%;
    border-radius: 250px;
    transition: 0.5s;
}

.home-wrapper .saree .content-2 img{
    width: 100%;
}

.home-wrapper .saree .content-2:hover{
    background-size: 115%;
    transition: 0.5s;
}

.home-wrapper .banner{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    color: #fff;
    transition: 0.5s;
    background-image: url('../assets/Rectangle-11.png');
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
}

.home-wrapper .banner:hover{
    transition: 0.5s;
    background-size: 10 5%;
}

.home-wrapper .banner span:nth-child(1){
    font-size: 3rem ;
    font-family: Canela light;
    margin-bottom: 1rem;
}

.home-wrapper .banner span:nth-child(2),
.home-wrapper .banner span:nth-child(3),
.home-wrapper .banner span:nth-child(4),
.home-wrapper .banner span:nth-child(5),
.home-wrapper .banner span:nth-child(6),
.home-wrapper .banner span:nth-child(7){
    font-family: Untitled light;
    font-size: 1.5rem;
}

.home-wrapper .banner span:nth-child(7){
    margin: 5rem 0;
    text-decoration: underline;
    width: fit-content;
    transition: 0.5s;
}

.home-wrapper .banner span:nth-child(7):hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.home-wrapper .saree-2  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 3rem;
    width: 100%;
}

.home-wrapper .saree-2 .content-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
    width: 100%;
}

.home-wrapper .saree-2 .content-1 .content-inner{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 2rem;
    /* padding-right: 4rem; */
}

.home-wrapper .saree-2 .content-1 .inner-image{
    transition: 0.5s;
}

.home-wrapper .saree-2 .content-1 .inner-image:hover{
    transition: 0.5s;
}

.home-wrapper .saree-2 .content-1 .content-inner>span:nth-child(1){
    font-size: 2rem;
    font-family: Canela light;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(2),
.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(3),
.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(4){ 
    font-family: Untitled light;
    font-size: 1rem;
}

.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(4){
    font-size: 1.75rem;
    font-weight: 500;
    /* margin-top: 2rem; */
}

.home-wrapper .saree-2 .content-2{
    transition: 0.5s;
    border-radius: 120px 0 0 0 ;
    margin-left: 2rem;
}

.home-wrapper .saree-2 .content-2 img{
    width: 40vw;
}

.home-wrapper .saree-2 .content-2:hover{
    transition: 0.5s;
}

.home-wrapper .curve-lines{
    margin-top: 243px;
    right: -480px;
    width: 2242.5px;
}

.home-wrapper .video-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #BFC7B9;
    margin-top: 5rem;
}

.home-wrapper .video-wrapper>div {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.home-wrapper .video-wrapper>div span:nth-child(1){
    font-size: 2rem;
    font-family: Canela thin;
}

.home-wrapper .video-wrapper>div span:nth-child(2){
    font-size: 1.25rem;
    font-family: Untitiled thin;
}

.home-wrapper .video-wrapper>div span:nth-child(3),
.home-wrapper .video-wrapper>div span:nth-child(4){
    font-family: Untitiled thin;
}

.home-wrapper .video-wrapper .video{
    width: 650px;
    height: 366px;
}

.home-wrapper .buy-button{
    background-color: #D1D1BD;
    width: 100px;
    margin-top: 1.75rem;
    outline: none;
    border: none;
}

.home-wrapper .saree-3  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    margin: 5rem 0 6rem;
    padding: 3rem;
}

.home-wrapper .saree-3 .content-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-wrapper .saree-3 .content-1 .content-inner{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.home-wrapper .saree-3 .content-1>div:nth-child(2){
    z-index: 2;
    padding: 1rem 0 0 1rem;
    background-color: #fff;
    margin-top: 5rem;
    position: relative;
    right: 100px;
}

.home-wrapper .saree-3 .content-1 img{
    width: 80%;
}

.home-wrapper .saree-3 .content-1 .content-inner>span:nth-child(1){
    font-size: 2rem;
    font-family: Canela light;
    font-weight: 500;
    margin: 1rem 0;
}

.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(2),
.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(3),
.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(4),
.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(5),
.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(6),
.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(7)
{
    font-family: Untitled light;
    font-size: 1rem;
}

.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(6){
    font-weight: 600;
}

.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(7){
    font-size: 1.75rem;
    font-weight: 500;
    /* margin-top: 1rem; */
}

.home-wrapper .saree-3 .content-2{
    border-radius: 0 120px 0 120px ;
    transition: 0.5s;
    text-align: end;
}

.home-wrapper .saree-3 .content-2:hover{
    background-size: 105%;
    transition: 0.5s;
}

.home-wrapper .saree-3 .content-1 .inner-image{
    width: 100%;
    transition: 0.5s;
}

.home-wrapper .saree-3 .content-1 .inner-image:hover{
    background-size: 105%;
    transition: 0.5s;
}

.home-wrapper .saree-3 .content-2 img {
    width: 80%;
}

.home-wrapper .curve-2{
    margin-top: 150px;
}

.home-wrapper .info{
    background-image: url('../assets/Rectangle\ 18.png'), linear-gradient(359.39deg, rgba(0, 0, 0, 0.5) 4.69%, rgba(0, 0, 0, 0) 73.13%, rgba(0, 0, 0, 0) 73.13%);
    /* background-color: linear-gradient(359.39deg, rgba(0, 0, 0, 0.5) 4.69%, rgba(0, 0, 0, 0) 73.13%, rgba(0, 0, 0, 0) 73.13%); */
    color: #fff;
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-family: Untitiled thin;
    text-align: center;
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.home-wrapper .info span:nth-child(1){
    margin-top: 400px;
}

@keyframes loopX {
    0%{transform: translateX(0%);}
    50%{transform: translateX(-100%);}
    100% { transform:translateX(0%);}
}

@media only screen and (max-width:1249px){
    .home-wrapper .saree-2 .content-1>div:nth-child(2){
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 990px){
    .home-wrapper{
        margin-top: 100px;
    }

    .home-wrapper .header .hr-line{
        width: 31%;
    }

    .home-wrapper .about-us .content{
        margin: 2rem 1.25rem;
    }

    .home-wrapper .about-us .header .heading{
        font-size: 2rem;
    }

    .home-wrapper .about-us .content{
        font-size: 1rem;
    }

    .home-wrapper .saree .content-1 .content-inner span:nth-child(1){
        font-size: 1.75rem;
    }

    .home-wrapper .saree .content-1 .content-inner span:nth-child(2),
    .home-wrapper .saree .content-1 .content-inner span:nth-child(3),
    .home-wrapper .saree .content-1 .content-inner span:nth-child(4),
    .home-wrapper .saree .content-1 .content-inner span:nth-child(5){
        font-family: Untitled light;
        font-size: 0.75rem;
    }

    .home-wrapper .saree .content-1 .content-inner span:nth-child(5){
        font-size: 1.25rem;
    }

    .home-wrapper .saree{
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-wrapper .saree .content-1{
        margin: 2rem 0;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .home-wrapper .saree .content-1 .content-inner span:nth-child(5){
        width: 100%;
    }

    .home-wrapper .saree .content-1 .inner-image{
        width: 70%;
    }

    .home-wrapper .saree .content-1 .inner-image img{
        width: 100%;
        margin-bottom: 2rem;
    }

    .home-wrapper .saree .content-2{
        width: 70%;
    }

    .home-wrapper .saree-2 img{
        width: 45vw;
    }

    .home-wrapper .saree .banner{
        text-align: center;
    }

    .home-wrapper .banner span:nth-child(1){
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .home-wrapper .banner span:nth-child(2),
    .home-wrapper .banner span:nth-child(3),
    .home-wrapper .banner span:nth-child(4),
    .home-wrapper .banner span:nth-child(5),
    .home-wrapper .banner span:nth-child(6){
        font-size: 1.25rem;
        text-align: center;
    }

    .home-wrapper .banner span:nth-child(7){
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        margin: 3rem 0;
    }

    .home-wrapper .saree-2{
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .home-wrapper .saree-2 .content-1{
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .home-wrapper .saree-2 .content-1 img{
        width: 80%;
    }

    .home-wrapper .saree-2 .content-1 >div:nth-child(2){
        margin: 0;
        margin-bottom: 2rem;
    }

    .home-wrapper .saree-2 .content-2{
        width: 100%;
    }

    .home-wrapper .saree-2 .content-2 img{
        width: 80%;
    }

    .home-wrapper .saree-2 .content-1>div:nth-child(2) {
        padding: 0;
    }

    .home-wrapper .saree-2 .content-1 .content-inner{
        margin: 0 0 2rem;
    }

    .home-wrapper .saree-2 .content-1 .content-inner span:nth-child(1){
        font-size: 1.5rem;
    }

    .home-wrapper .saree-2 .content-1 .content-inner span:nth-child(2),
.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(3){
    font-family: Untitled light;
    font-size: 0.75rem;
}

.home-wrapper .saree-2 .content-1 .content-inner span:nth-child(4){
    font-size: 1.25rem;
    margin-top: 1rem;
}

    .home-wrapper .video-wrapper{
        flex-direction: column;
        text-align: center;
        padding: 2rem 0 0;
    }

    .home-wrapper .video-wrapper span{
        margin: 0;
    }

    .home-wrapper .video-wrapper .video{
        width: 100%;
        margin-top: 2rem;
    }

    .home-wrapper .video-wrapper>div {
        margin-left: 0;
        padding: 0 1rem;
    }

    .home-wrapper .saree-3{
        flex-direction: column-reverse;
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    .home-wrapper .saree-3 .content-1 .content-inner{
        padding: 0;
        margin: 0;
    }

    .home-wrapper .saree-3 .content-1>div:nth-child(2){
        right: 0;
        margin-bottom: 2rem;
    }
    .home-wrapper .saree-3 .content-2 img{
        width: 80%;
    }

    .home-wrapper .saree-3 .content-2{
        text-align: center;
    }

    .home-wrapper .saree-3 .content-1>div:nth-child(2) {
        padding: 0;
    }

.home-wrapper .saree-3 .content-1 .content-inner span:nth-child(7){
    font-size: 1.25rem;
}


    .react-3d-carousel .slider-container .slider-right{
    left: 62vw!important;
    }

    .home-wrapper .btn-container{
        margin: 1rem auto;
    }

    .video-wrapper>div span:nth-child(4){
        margin-bottom: 2rem;
    }

    .home-wrapper .btn-container span{
        font-size: 1.25rem!important;
    }
}